.text-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
    background: transparent;
    border: none;
    color: var(--primary-white);

    .circle-item-active {
        width: 0;
        height: 0;
        border-left: 0.3rem solid transparent;
        border-right: 0.3rem solid transparent;
        border-bottom: 0.6rem solid var(--secondary-color);
        transition: 0.2s ease-in-out;
    }

    .circle-item {
        width: 0;
        height: 0;
        border-left: 0.3rem solid transparent;
        border-right: 0.3rem solid transparent;
        border-bottom: 0.6rem solid transparent;
        transition: 0.2s ease-in-out;
    }

    .title-navigation {
        font-size: var(--font-medium);
        font-weight: var(--font-regular);
        cursor: pointer;
        padding-left: 0.4rem;
    }

    .active-text {
        font-weight: var(--font-bold);

    }

    // .no-active-text {
    //     font-weight: var(--font-bold);
    //     color: red !important;
    // }
}