.services-title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    height: 4rem;
    min-width: 25rem;
    max-width: 25rem;

    @media (max-width:400px) {
        min-width: 95%;
        max-width: 95%;
    }


    .services-title-text {
        position: relative;
        font-size: 1.75rem;
        color: var(--secondary-color);
        white-space: nowrap;
    }

    .title-line {
        background-color: var(--secondary-color);
        height: 4px;
        border-radius: var(--border-radius);
    }
}