.container-headers {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    min-width: var(--wrapper-large);
    max-width: var(--wrapper-large);

    @media (max-width:992px) {
        min-width: var(--wrapper-medium);
        max-width: var(--wrapper-medium);
    }

    @media (max-width:768px) {
        min-width: var(--wrapper-small);
        max-width: var(--wrapper-small);
    }

    @media (max-width:442px) {
        min-width: var(--wrapper-tiny);
        max-width: var(--wrapper-tiny);
    }

    .container-section-menu-desktop {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.5rem;

        @media (max-width:768px) {
            display: none;
        }
    }

    .container-section-menu-mobile {
        display: none;

        @media (max-width:768px) {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .container-outer-menu-mobile {
                --menu-mobile-container-print: 2rem;
                // --menu-mobile-container-inner-proportion: calc(var(--menu-mobile-container-print) * 1);
                min-height: var(--menu-mobile-container-print);
                max-height: var(--menu-mobile-container-print);
                min-width: var(--menu-mobile-container-print);
                max-width: var(--menu-mobile-container-print);
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                cursor: pointer;

                @media (max-width:442px) {
                    --menu-mobile-container-print: 1.8rem;
                }

                .contanier-inner-menu-mobile {
                    position: relative;
                    min-height: var(--menu-mobile-container-print);
                    max-height: var(--menu-mobile-container-print);
                    min-width: var(--menu-mobile-container-print);
                    max-width: var(--menu-mobile-container-print);
                    user-select: none;

                    * {
                        pointer-events: none;
                    }

                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
                }
            }
        }
    }

}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);

    @media (min-width:768px) {
        display: none;
    }

    .container-show-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--bg-footer-color);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        min-width: 18rem;
        max-width: 18rem;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.6);
        gap: 2.5rem;
        padding: 2.5rem;
        padding-top: 6.5rem;

        @media (min-width:768px) {
            display: none;
        }

        // .title-navigation {
        //     font-size: var(--font-medium);
        //     font-weight: var(--font-regular);
        //     cursor: pointer;
        //     padding-left: 0.4rem;
        // }

        .button-mobile-menu {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            cursor: pointer;
            font-size: var(--font-medium);
            font-weight: var(--font-bold);
            background-color: var(--secondary-color);
            padding: 1rem;
            border: none;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--border-radius);
        }
    }
}